@import 
url('https://fonts.googleapis.com/css2?family=Poppins: wgh@300;400;500;600;700&display=swap');
:root{
    --bg-gradient:linear-gradient(135deg,#0f0c29, #302b63, #24243e);
    --glass-bg:rgba(255,255,255,0.1);
    --glass-border:rgba(255,255,255,0.2);
    --glass-blur:blur(10px);
    --text-primary:#ffffff;
    --text-secondary:rgba(255,255,255,0.7);
    --accent:#00d2ff;
    --border-radius:24px;
    --padding:24px
}
* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family:'Poppins',sans-serif;
    min-height: 100vh;
    background:var(--bg-gradient);
    color:var(--text-primary);
    padding:20px;
    transition:background 1.5s ease
}
#container{
    text-align:center;
    padding:20px;
    margin:0 auto
}
h1{
    font-size:2.5rem;
    background:linear-gradient(90deg,#00d2ff,#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-clip:text; 
}
#container i{
    font-size:2rem;
    color:var(--accent);
    margin-right:12px;
    vertical-align:middle;
    -webkit-text-fill-color: var(--accent);
    filter:drop-shadow(0 0 8px rgba(8, 174, 207, 0.6))
}
.glass-card{
    background:var(--glass-bg);
    -webkit-backdrop-filter:var(--glass-blur);
    backdrop-filter:var(--glass-blur);
    border:1px solid var(--glass-border);
    border-radius:var(--border-radius);
    padding:var(--padding);
    margin-bottom:20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25)
}
#search-section input{
    background:rgba(255,255,255,0.15);
    border:1px solid rgba(255,255,255,0.3);
    color:var(--text-secondary);
    border-radius:10px;
    padding:12px;
    width:80%;
    font-size:1.2rem;
    font-weight:bolder;
}
#search-section {
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    align-items:center;
    animation:fadeUp 0.5s ease;
}
#search-section button{
    background:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.3);
    color:white;
    display:flex;
    align-items:center;
    cursor:pointer;
    padding:10px 16px;
    border-radius:10px;
    font-size:1rem;
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
    transition:0.3s;
}
#search-section button i{
    font-size:1.2rem;
    color:var(--text-primary);
}
#search-section button:hover{
    background:rgba(255,255,255,0.25);
    transform:translateY(-2px);   
}
#locationBtn i {
    padding-right:10px;
}
span i{
    padding-right:10px;
}
#container p{
    padding:10px;
    text-align:end;
    font-size:1rem;
    color:var(--text-primary);
    font-weight: lighter;
}
.wrapper{
    max-width:650px;
    margin:0 auto;
    width:100%;
}
#recent-city{
    font-size:1rem;
    color:rgba(255,255,255,0.5);
    font-weight:600;
    margin-bottom:10px;
}
#recent-list{
    display:flex;
    gap:15px;
    justify-content: center;
    flex-wrap:wrap;
    font-size:0.8rem;
    color:rgba(255,255,255,0.6);
}
#recent-empty{
    font-size:0.9rem;
}
.recentCityBtn{
    background:rgba(255,255,255,0.1);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:20px;
    padding:4px 12px;
    font-size:1rem;
    cursor:pointer;
    color:var(--text-primary);
    transition:0.3s;
    text-transform:capitalize;
}
.recentCityBtn.active{
    background:blue;
}
#recent-list button:hover{
    background:rgba(255,255,255,0.5);
    border: 1px solid var(--accent);
}
.weather-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:40px;
    margin-top:20px;
    animation:fadeUp 0.6s ease;
}
#city{
    font-size:2.5rem;
    font-weight:bolder;
    letter-spacing:2px;
    padding:3px;
}
#country{
    color:var(--text-secondary);
    font-size:1rem;
    margin-bottom:16px;
}
#country i{
    padding-right:8px;
    font-size:1rem;
}
#date-time{
    font-size:0.9rem;
    color:var(--text-secondary);
    line-height: 1.6;
}
#date-time span{
    padding:5px;
}
#day{
    margin-bottom:5px;
    font-size:1rem;
    color:var(--text-secondary)
}
.toggle{
    display:flex;
    align-items: center;
    justify-content:center;
    padding:4px; 
    border-radius:25px;
    gap:10px;
    margin-top:10px;
     background:var(--glass-bg);
     -webkit-backdrop-filter:var(--glass-blur);
     backdrop-filter:var(--glass-blur);
     -webkit-backdrop-clip:text;
     box-shadow: 0 0 15px rgba(255,255,255,0.2);
}
#celsius,#fera{
     border-radius:25px;
     border:none;
     font-size:1.5rem;
     cursor:pointer;
     padding:6px 16px;
     border-radius:20px;
     color:var(--text-primary);
     background:transparent;
    
}
#celsius.active,#fera.active{
    background:var(--accent);
    color:var(--text-primary);
}
.main-weather{
    margin-top:20px;
    gap:5px;
}
.weather-info{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}
#temperature{
    font-size:5rem;
    font-weight:700;
    background:linear-gradient(90deg,#00d2ff,#ffffff);
    text-shadow:0 0 20px rgba(0,212,255,0.3);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    text-align:center;
    margin-bottom:auto;
    width:100%;
}

#condition{
    font-size:1.2rem;
    color:var(--text-secondary);
    text-transform:capitalize;
}

#feels-like{
    font-size:1rem;
    color:var(--text-secondary);
}
.icon-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
}
#weather-icon{
    display:none;
    width:150px;
    height:150px;
    object-fit:contain;
    transition:filter 0.5s;
    animation:float 3s ease-in-out infinite
}
.sunny{
    filter:drop-shadow(0 0 20px #ffd54f)
}
.cloudy{
    filter:drop-shadow(0 0 18px #a5d8ff)
}
.rain{
    filter:drop-shadow(0 0 20px #4fc3f7)
}
.thunder{
    animation: float 3s ease-in-out infinite,
    pulse-glow 1.5s  ease-in-out infinite
}
.snow{
    filter:drop-shadow(0 0 20px #f5f9ff)
}
.mist{
    filter:drop-shadow(0 0 20px #b0bec5)
}
.clear{
     filter:drop-shadow(0 0 20px #ffd700)
}
@keyframes float{
    0%,100% { transform:translateY(0px);}
    50% {transform:translateY(-10px)}
}
@keyframes pulse-glow{
      0%,100% { filter:drop-shadow(0 0 22px #9c6bff);}
    50% {filter:drop-shadow(0 0 35px #9c6bff);}
}

hr{
    border:none;
    border-top:1px solid var(--glass-border);
    margin:15px auto;
    width:100%;
}
.stats-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:15px;
    width:100%;
    margin-top:20px;
    animation:fadeUp 0.7s ease;
}
.stat-item{
    background:var(--glass-bg);
    -webkit-backdrop-filter:var(--glass-blur);
    backdrop-filter:var(--glass-blur);
    border:1px solid var(--glass-border);
    border-radius:var(--border-radius);
    padding:12px;
    margin:10px 0;
    gap:30px;
    text-align:center;
   }
   .stat-label{
    font-size:1rem;
    color:var(--text-secondary);
    margin-top:10px;
    margin-bottom:5px;
   }
    .stat-item i{
        color:var(--accent);
        font-size:1.4rem;
        margin-bottom:5px;
    }
    .value{
        font-size:1rem;
        font-weight:600;
        margin-top:10px;
        color:var(--text-primary);
    }
    .stat-item:hover{
        transform:translateY(-2px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    }
    #forecast-section{
        margin-top:20px;
        width:100%;
        padding:20px;
        animation:fadeUp 0.8s ease;
    }
    #forecast-section h2{
        font-size:1.5rem;
        margin-bottom:20px;
        color:var(--text-secondary);
        letter-spacing:1px;
    }
    .forecast-cards{
        display:flex;
        justify-content:space-between;
        gap:10px;
        min-height:120px;
    }
    .forecast-card{
        background:var(--glass-bg);
        -webkit-backdrop-filter: var(--glass-blur);
        backdrop-filter:var(--glass-blur);
        border:1px solid var(--glass-border);
        border-radius:15px;
        padding:20px;
        flex:1;
        text-align:center;
        transition: transform 0.3s;
    }
    .forecast-card:hover{
        transform:translateY(-8px);
        border: 1px solid var(--accent);
        transition: all 0.3s ease;
        box-shadow: 0 12px 25px rgba(0,0,0,0.25);
    }
    #ai{
        margin-top:10px;
        background:var(--glass-bg);
        -webkit-backdrop-filter:var(--glass-blur);
        backdrop-filter:var(--glass-blur);
        padding:10px;
        border:1px solid var(--glass-border);
        border-radius:20px;
        animation:fadeUp 0.9s ease;
    }
    #ai i{
        color:var(--accent);
        font-size:1.2rem;
    }
    #ai p{
        font-size:1.2rem;
        font-weight:700;
        color:var(--accent);
        letter-spacing:1px;
        margin-bottom:15px;  
    }
    #advice p{
        font-size:0.8rem;
        color:var(--text-secondary);
        margin:8px 0;
        padding:10px 15px;
        border-radius:10px;
        background:rgba(255,255,255,0.05);
        border-left:3px solid var(--accent);
        line-height:1.6;
        font-family:'Poppins',sans-serif;
    }
    #advice strong{
        color:var(--accent);
        font-weight:600;
    }
    #advice p:hover{
        background: rgba(0,210,255,0.1);
        transform:translateX(5px);
        transition:all 0.2s ease;
    }
    footer{
        text-align:center;
        padding:20px;
        color:var(--text-secondary);
        font-size:0.9rem;
        border-top:1px solid var(--glass-border);
        margin-top:20px;
    }
    #last-updated{   
        margin-bottom:10px;
    }
    #update{
        padding-top:5px;
    }
   
    .error{
        color:#ff6b6b;
        font-size:0.9rem;
        margin-top:10px;
        font-weight:600;
        border-radius:12px;
        padding:10px;
        text-align:center;
        background:rgba(255,255,255,0.2);
        -webkit-backdrop-filter:var(--glass-blur);
        backdrop-filter:var(--glass-blur);
        display:none;
        box-shadow: 0 8px 20px rgba(227, 56, 8, 0.3); 
    }
   @keyframes spin{
    to{
        transform:rotate(360deg);
    }
   }
   .spinner{
    width:40px;
    height:40px;
    border:3px solid var(--glass-border);
    border-top-color:var(--accent);
    border-radius:50%;
    animation:spin 0.9s linear infinite;
   }
   .loading{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    margin-top:20px;
    padding:20px;
    display:none
   }

#forecast-temp{
    font-size:1.2rem;
    padding-bottom:5px;
     background:linear-gradient(90deg,#06a4eeca,#ffffff);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent; 
}
#forecast-day{
    font-weight:700;
    padding-bottom:8px;
}
#forecast-detail{
    color:var(--text-secondary);
    padding-top:10px;
    font-size:0.9rem;
    text-transform: capitalize
}
#forecast-icon{
    filter:drop-shadow(0 0px 18px rgba(255,255,255,0.8));
    width:60px;
    height:auto;
    animation:float 3s ease-in-out infinite
}
@keyframes float{
    0%,100% { transform:translateY(0);}
    50% {transform:translateY(-8px)}
}
#forecast-icon:hover{
    transform:translate(-3px)
}
.forecast-card:first-child{
    border:1px solid rgba(255,255,255,0.4);
    background:rgba(0,210,255,0.15);
    box-shadow:0 4px 15px rgba(0,0,0,0.2)
}
#input-text::placeholder{
    color:rgba(255,255,255,0.8)
}
@media(max-width:480px){
    #temperature{
        font-size:3rem;
        text-align:center;
    }
    #city{
        font-size:1.5rem;
    }
    .stats-grid {
        grid-template-columns:repeat(2, 1fr);
    }
    .forecast-cards {
        flex-direction:column;
    }
    .toggle{
       font-size:0.9rem;
    }
    .weather-card{
        padding:15px;
    }
    #search-section{
        flex-direction:column;
    }
   
    }
 @media(min-width:1024px){
       .wrapper{
            max-width:900px;
        }
        .forecast-card{
            min-height:180px;
            padding:20px 15px;
        }
        .forecast-card img{
            width:70px;
            height:70px
        }
        .forecast-cards{
            gap:15px;
            min-height:180px;
        }
        #advice p{
            margin-bottom:20px;
            height:auto;
        }
    }
     @media(min-width:1280px){
        .wrapper{
            max-width:1000px;
        }
    }
